<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Vue Project</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link rel="icon" href="./assets/img/vueLogo.png" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
  <link href="./assets/style/style.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
    <nav>
      <div class="nav-container">
        <div id="logo">
          <router-link to="/">
            <img src="./assets/img/wish-logo-800.png" alt="logo" />
          </router-link>
        </div>

        <ul id="icons">
          <li>
            <router-link to="/user-settings">
              <i class="fas fa-user"></i>
            </router-link>
          </li>
          <li>
            <router-link to="/whish-list">
              <i class="fas fa-heart"></i>
              <span id="nav-notif"></span>
            </router-link>
          </li>
          <li>
            <router-link to="/shopping-cart">
              <i class="fas fa-shopping-cart"></i>
            </router-link>
          </li>
        </ul>
      </div>
    </nav>

    <router-view></router-view>

  </div>

  <!-- X-template -->
  <script type="text/x-template" id="home">
    <div class="home-container">
      <h1>Articles</h1>

      <!-- search display -->
      <input v-model="searchKey" type="search" id="search" placeholder="Recherche..." autocomplete="off" />
      <!-- CONDTION: Si la recherche contient un élément alors affiche le nb de résultat -->
      <span v-if="searchKey && filterList.length >= 1">
        <!-- affiche le s à résultat si il y a plusieurs résultats -->
        {{ filterList.length }} résultat<span v-if="filterList.length >= 2">s</span>
      </span>
      <!-- cards display -->
      <div class="card-cart-container">
        <div class="card-container">
          <div v-for="product in filterList" class="card">

            <!-- IMG -->
            <div class="img-container">
              <img v-bind:src="product.img" v-bind:alt="product.description" />
            </div>

            <!-- TITLE -->
            <div class="card-text">
              <h3>{{ product.description }}</h3>
              <span>{{ product.price }}€</span>
            </div>

            <!-- ICONS CHECKBOX -->
            <!-- liked -->
            <div class="card-icons">
              <div class="like-container">
                <input 
                type="checkbox"
                name="checkbox"
                v-bind:id="product.id"
                :value=product.id
                v-model="liked"
                @click="setLikeCookie()"
                />
                <label v-bind:for="product.id">
                  <i class="fas fa-heart"></i>
                </label>
              </div>

              <!-- add to cart -->
              <div class="add-to-cart">
                <button v-on:click="addToCart(product)">
                  <i class="fas fa-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>

            <!-- Search: si aucun résultat a été trouvé -->
            <div v-if="filterList.length == []" class="no-result">
              <h3>Désolé</h3>
              <p>Aucun résultat trouvé</p>
            </div>
        </div>

            <!-- Affichage du panier -->
            <transition name="cart-anim">
            <div v-if="cart.length > 0" class="shopping-cart" id="shopping-cart">
              <h2>Panier</h2>
              <div class="item-group">
              <!--img-->
              <div v-for="(product, id) in cart" v-bind:key="product.id" class="item">
                  <div class="img-container">
                    <img v-bind:src="product.img" alt="" />
                  </div>

                  <!--description-->
                  <div class="item-description">
                    <h4>{{ product.description }}</h4>
                    <p>{{ product.price }}€</p>
                  </div>

                  <!-- quantité -->
                  <div class="item-quantity">
                    <h6>quantité : {{ product.quantity }}</h6>

                  <!-- icons gestion du panier -->
                  <div class="cart-icons">
                      <button v-on:click="cartPlusOne(product)">
                        <i class="fa fa-plus"></i>
                      </button>
                      <button v-on:click="cartMinusOne(product, id)">
                        <i class="fa fa-minus"></i>
                      </button>
                      <button v-on:click="cartRemoveItem(id)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                    </div>
                  </div>
                </div>


                <!-- Prix total -->
                <div class="grand-total">
                  <div class="total">
                    <h2>Total</h2>
                    <h2>{{ cartTotalAmount }}€</h2>
                  </div>
                  <h6>Total articles : {{ itemTotalAmount }}</h6>
                </div>

            </div>
          </transition>
      </div>
    </div>
  </script>

  <!-- VUEJS @V3-->
  <script src="https://unpkg.com/vue@3"></script>
  <!-- VUEJS ROUTER @V4-->
  <script src="https://unpkg.com/vue-router@4"></script>
  <!-- COOKIES VUEJS -->
  <script src="https://unpkg.com/vue-cookies@1.8.1/vue-cookies.js"></script>
  <!-- SCRIPTS -->
  <script src="./assets/js/vue.js"></script>
  <script src="./assets/js/script.js"></script>
</body>

</html>